<div class="admin-header">
    <h1 class="admin-header__title">Kategorie</h1>
    <a asp-action="Upsert" class="admin-btn">Dodaj nową</a>
</div>

@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th width="10%">
                    Id
                </th>
                <th width="40%">
                    Tytuł
                </th>
                <th width="30%">
                    Adres URL zdjęcia
                </th>
                <th width="10%">
                    Edytuj
                </th>
                <th width="10%">
                    Usuń
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipeCategory in Model)
            {
            <tr>
                <td width="10%">@recipeCategory.Id</td>
                <td width="40%">@recipeCategory.Title</td>
                <td width="30%">@recipeCategory.ImageUrl</td>
                <td width="10%"><a asp-action="Upsert" asp-route-id="@recipeCategory.Id" class="admin-btn">Edytuj</a></td>
                <td width="10%"><a asp-action="Delete" asp-route-id="@recipeCategory.Id" class="admin-btn">Usuń</a></td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nie ma żadnych kategorii w bazie danych!</p>
}