@model Cookify.Models.ViewModels.RecipeViewModel

@if (Model != null)
{
    <article class="single-recipe">
        <div class="single-recipe__img-con">
            <img src="@Model.Recipe.ImageUrl" />
        </div>
        <div class="single-recipe__main">
            <div class="single-recipe__content">
                <h1 class="single-recipe__content__title white-panel">
                    @Model.Recipe.Name
                </h1>
                <div class="single-recipe__content__section white-panel">
                    <h2 class="single-recipe__content__section__title h3">Składniki</h2>
                    <p>
                        @Model.Recipe.Description
                    </p>
                </div>
                <div class="single-recipe__content__section white-panel">
                    <h2 class="single-recipe__content__section__title h3">Instrukcje</h2>
                    <p>
                        @Model.Recipe.Description
                    </p>
                </div>
                <div class="single-recipe__content__section white-panel">
                    <h2 class="single-recipe__content__section__title h3">
                        <img src="~/assets/icons/components/comment.svg" alt="">
                        <span>Komentarze (@Model.Comments.Count())</span>
                    </h2>
                    <form method="post" class="comment-form">
                        <div class="comment-form__title mobile-h2">
                            Napisz komentarz
                        </div>

                        <textarea asp-for="Comment.Content" placeholder="Twój komentarz..." class="bordered-textarea"></textarea>

                        <input hidden asp-for="Comment.RecipeId" value="@Model.Recipe.Id" />
                        <input hidden asp-for="FavoriteRecipe.RecipeId" value="@Model.Recipe.Id" />

                        <button asp-controller="Recipe" asp-action="AddComment" class="comment-form__submit ck-btn">Wyślij</button>
                    </form>
                    @if (Model.Comments.Count() > 0)
                    {
                        <div class="comments">
                            @foreach (var comment in Model.Comments)
                            {
                                <div class="comments__item">
                                    <div class="comments__item__title mobile-h2">
                                        @comment.ApplicationUser.Name
                                    </div>
                                    <div class="comments__item__content">
                                        @comment.Content
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="single-recipe__sidebar-con">
                <div class="single-recipe__sidebar">
                    <div class="single-recipe__sidebar__item ck-tooltip-con">
                        <div class="favorite-heart">
                            <img class="heart-empty" src="~/assets/icons/components/heart.svg" alt="">
                            <img class="heart-filled" src="~/assets/icons/components/heart-filled.svg" alt="">
                        </div>
                        <div class="ck-tooltip">
                            dodaj do ulubionych
                        </div>
                    </div>
                    <div class="single-recipe__sidebar__item ck-tooltip-con go-to-comments">
                        <div class="single-recipe__sidebar__item__inner">
                            <img src="~/assets/icons/components/comment-green.svg" alt="">
                        </div>
                        <div class="ck-tooltip">
                            napisz komentarz
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
}

@*<br />
<div class="p-4 border rounded">
    @if (Model != null)
    {
        <img src="@Model.Recipe.ImageUrl" width="50%" alt="">
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Nazwa
                    </th>
                    <th>
                        Opis
                    </th>
                    <th>
                        Kategoria
                    </th>
                    <th>
                        Poziom trudności
                    </th>
                    <th>
                        Czas przygotowania
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="20%">@Model.Recipe.Name</td>
                    <td width="50%">@Model.Recipe.Description</td>
                    <td width="10%">@Model.Recipe.RecipeCategory.Title</td>
                    <td width="10%">@Model.Recipe.DifficultyLevel</td>
                    <td width="10%">@Model.Recipe.PreparationTime</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <form method="post">
                            <textarea asp-for="Comment.Content" placeholder="Wpisz tutaj treść swojego komentarza..." style="width: 100%;"></textarea><br />

                            <input hidden asp-for="Comment.RecipeId" value="@Model.Recipe.Id" />
                            <input hidden asp-for="FavoriteRecipe.RecipeId" value="@Model.Recipe.Id" />

                            <button asp-controller="Recipe" asp-action="AddComment">Dodaj komentarz</button>

                            @if (Model.FavoriteRecipe == null)
                            {
                                <button asp-controller="Recipe" asp-action="AddToFavorites">Dodaj do ulubionych</button>
                            }
                            else
                            {
                                <button asp-controller="Recipe" asp-action="AddToFavorites">Usuń z ulubionych</button>
                            }
                        </form>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <a asp-action="Index">Wróć do listy przepisów</a>
                    </td>
                </tr>
            </tbody>
        </table>
        @if (Model.Comments.Count() > 0)
        {
            <ul>
                @foreach (var comment in Model.Comments)
                {
                    <li>@comment.Content</li>
                }
            </ul>
        }
        else
        {
            <p>Nie ma komentarzy dla tego przepisu.</p>
        }
    }
    else
    {
        <p>Coś poszło nie tak! :(</p>
    }
</div>*@