@using Cookify.Utility;
@model Cookify.Models.ViewModels.RecipeViewModel

@if (Model != null)
{
    <article class="single-recipe">
        <div class="single-recipe__img-con">
            <img src="@Model.Recipe.ImageUrl" />
        </div>
        <div class="single-recipe__main">
            <div class="single-recipe__content">
                <h1 class="single-recipe__content__title white-panel">
                    @Model.Recipe.Name
                </h1>
                <div class="single-recipe__content__section white-panel">
                    <h2 class="single-recipe__content__section__title h3">Składniki</h2>
                    <p>
                        @Model.Recipe.Description
                    </p>
                </div>
                <div class="single-recipe__content__section white-panel">
                    <h2 class="single-recipe__content__section__title h3">Instrukcje</h2>
                    <p>
                        @Model.Recipe.Description
                    </p>
                </div>
                <div class="single-recipe__content__section white-panel">
                    <h2 class="single-recipe__content__section__title h3">
                        <img src="~/assets/icons/components/comment.svg" alt="">
                        <span>Komentarze (@Model.Comments.Count())</span>
                    </h2>
                    <form method="post" class="comment-form">
                        <div class="comment-form__title mobile-h2">
                            Napisz komentarz
                        </div>

                        <textarea asp-for="Comment.Content" placeholder="Twój komentarz..." class="bordered-textarea"></textarea>

                        <input hidden asp-for="Comment.RecipeId" value="@Model.Recipe.Id" />
                        <input hidden asp-for="FavoriteRecipe.RecipeId" value="@Model.Recipe.Id" />
                        @if (User.IsInRole(StaticDetails.Role_Admin) || User.IsInRole(StaticDetails.Role_User))
                        {
                            <button asp-controller="Recipe" asp-action="AddComment" class="comment-form__submit ck-btn">Wyślij</button>
                        }
                        else
                        {
                            <span>Musisz się zalogować, by dodać komentarz.</span>
                        }
                    </form>
                    @if (Model.Comments.Count() > 0)
                    {
                        <div class="comments">
                            @foreach (var comment in Model.Comments)
                            {
                                <div class="comments__item">
                                    <div class="comments__item__title mobile-h2">
                                        @comment.ApplicationUser.Name
                                    </div>
                                    <div class="comments__item__content">
                                        @comment.Content
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="single-recipe__sidebar-con">
                <div class="single-recipe__sidebar">
                    <div class="single-recipe__sidebar__item ck-tooltip-con">
                        <div class="favorite-heart" data-filled="true">
                            <img class="heart-empty" src="~/assets/icons/components/heart.svg" alt="">
                            <img class="heart-filled" src="~/assets/icons/components/heart-filled.svg" alt="">
                        </div>
                        <div class="ck-tooltip">
                            dodaj do ulubionych
                        </div>
                    </div>
                    <div class="single-recipe__sidebar__item ck-tooltip-con go-to-comments">
                        <div class="single-recipe__sidebar__item__inner">
                            <img src="~/assets/icons/components/comment-green.svg" alt="">
                        </div>
                        <div class="ck-tooltip">
                            napisz komentarz
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
}