@model Cookify.Models.ViewModels.RecipeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Recipe "@Model.Recipe.Name" details:</h2>
    </div>
</div>

<br />
<div class="p-4 border rounded">
    @if (Model != null)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Difficulty Level
                    </th>
                    <th>
                        Preparation Time
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="20%">@Model.Recipe.Name</td>
                    <td width="50%">@Model.Recipe.Description</td>
                    <td width="10%">@Model.Recipe.RecipeCategory.Title</td>
                    <td width="10%">@Model.Recipe.DifficultyLevel</td>
                    <td width="10%">@Model.Recipe.PreparationTime</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <form method="post">
                            <textarea asp-for="Comment.Content" placeholder="Type content of your comment here..." style="width: 100%;"></textarea><br />

                            <!-- Ten input ze stylem display: none na razie musi zostać! -->
                            <input asp-for="Comment.RecipeId" type="text" value="@Model.Recipe.Id" style="display: none;" /><br />
                            <!-- ------------------------------------------------------ -->

                            <button asp-controller="Recipe" asp-action="AddComment">Add comment</button>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <a asp-action="Index">Go back to list of recipes</a>
                    </td>
                </tr>
            </tbody>
        </table>
        @if (Model.Commnets.Count() > 0)
        {
            <ul>
                @foreach (var comment in Model.Commnets)
                {
                    <li>@comment.Content</li>
                }
            </ul>
        }
        else
        {
            <p>There are no comments for this recipe.</p>
        }
    }
    else
    {
        <p>Something went wrong! :(</p>
    }
</div>