@model Cookify.Models.Recipe

<div class="product-grid__item">

    <div class="product-grid__item__img-con">
        <a asp-area="User" asp-controller="Recipe" asp-action="Details" asp-route-id="@Model.Id" class="product-grid_item">
            <img src="~/assets/placeholders/chicken.jpg" alt="" class="product-grid__item__img">
        </a>
        <div class="favorite-heart" data-recipe-id="@Model.Id">
            <img class="heart-empty" src="~/assets/icons/components/heart.svg" alt="">
            <img class="heart-filled" src="~/assets/icons/components/heart-filled.svg" alt="">
        </div>
    </div>

    <div class="product-grid__item__desc">
        <a asp-area="User" asp-controller="Recipe" asp-action="Details" asp-route-id="@Model.Id" class="product-grid_item__desc">
            <div class="product-grid__item__desc__title">@Model.Name</div>
        </a>
        <div class="product-grid__item__desc__info">

            <div class="product-grid__item__desc__info__item">
                <img src="~/assets/icons/components/clock.svg" alt="">
                <span>@Model.PreparationTime</span>
            </div>
            <div class="product-grid__item__desc__info__item">
                <img src="~/assets/icons/components/difficulty-slim.svg" alt="">
                <span>@Model.DifficultyLevel</span>
            </div>

        </div>
    </div>

</div>