@page
@model RegisterModel
@using Cookify.Utility
@{
    ViewData["Title"] = "Rejestracja";
}


<form class="ck-form white-panel" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <h1 class="ck-form__title h1">@ViewData["Title"]</h1>
    <h4 class="ck-form__info">Masz już konto?<a asp-area="Identity" asp-page="/Account/Login" class="text-orange"> Zaloguj się!</a></h4>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="ck-form__field">
        <input asp-for="Input.Name" class="bordered-input" placeholder="Nazwa użytkownika" />
        <span asp-validation-for="Input.Name" class="text-danger"></span>
    </div>
    <div class="ck-form__field">
        <input asp-for="Input.Email" class="bordered-input" placeholder="E-mail" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="ck-form__field">
        <input asp-for="Input.Password" class="bordered-input" placeholder="Hasło" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="ck-form__field">
        <input asp-for="Input.ConfirmPassword" class="bordered-input" placeholder="Powtórz hasło" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    @*
        @if (User.IsInRole(StaticDetails.Role_Admin))
        {
            <div class="form-group">
                <label asp-for="Input.Role"></label>
                @Html.DropDownListFor(m => m.Input.Role, Model.Input.RoleList, "-Please select a role", new { @class = "form-control" })
            </div>
        }
    *@
    <button type="submit" class="ck-btn">Utwórz konto</button>
</form>

@*
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
